<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SuperiorCraft</title>

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Didact Gothic">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body style="position: fixed; left: 45%; top: 25%;">
	<h2 style="text-align: center">Login</h2>
	<form method="POST" action="/" class="input-group">
		<div class="input-group">
			<input class="input" type="text" name="username" placeholder="Username">
			<input class="input" type="password" name="password" placeholder="Password">
		</div>

		<input type="submit" name="submit" class="button" value="Log In">
	</form>
</body>
</html>